<main class="main">
  <h1>Password Genarator</h1>
  <label for="passwordLength">Password Length</label>
  <input id="passwordLength" (input)="onPasswordLengthChange($event)" />
  @if (errorMessages.passwordLength) {
  <p style="color: red">{{ errorMessages.passwordLength }}</p>
  }
  <div style="display: flex; flex-direction: column; gap: 10px">
    <div>
      <input
        type="checkbox"
        id="includeLetters"
        (change)="onChangeCheckBox($event)"
      />
      <label for="includeLetters">Include letters</label>
    </div>
    <div>
      <input
        type="checkbox"
        id="includeNumbers"
        (change)="onChangeCheckBox($event)"
      />
      <label for="includeNumbers">Include numbers</label>
    </div>
    <div>
      <input
        type="checkbox"
        id="includeSymbols"
        (change)="onChangeCheckBox($event)"
      />
      <label for="includeSymbols">Include symbols</label>
    </div>
    @if (errorMessages.includeOptions) {
    <p style="color: red">{{ errorMessages.includeOptions }}</p>
    }
  </div>
  <button
    (click)="onButtonClick()"
    [disabled]="
      !passwordLength || (!includeLetters && !includeNumbers && !includeSymbols)
    "
  >
    Generate Password
  </button>
  <h2>Generated Password</h2>
  <p>
    Generated Password:
    <input type="text" id="password" readonly [value]="password" />
  </p>
  <button>Copy to Clipboard</button>
</main>
<router-outlet />
